<nav>
  <div class="site-title">
    <a href="/"><h1>Inventory Control Management System</h1></a>
    <p>A WebApp to handle all Industrial Management Needs.</p>
  </div>
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/view">View Tables</a></li>
    <li><a href="/addRecs">Add Records</a></li>
    <li><a href="/removeRecs">Remove Records</a></li>
    <li><a href="/about">About ICMS</a></li>
  </ul>
</nav>
