<html lang="en">
  <%- include("./partials/header.ejs") %>

  <body>
    <%- include("./partials/navbar.ejs") %>

    <h2>Remove Records</h2>
    <p>The following tables are available for removing records for the current user <b><%= usrname %></b></p>

    <ul>
      <li><a href="/view/products">Remove a Product</a></li>
      <li><a href="/view/clients">Remove a Client</a></li>
      <li><a href="/view/purchaseRecs">Remove a Purchase Record</a></li>
      <li><a href="/view/salesRec">Remove a Sales Record</a></li>
      <% if(privilege === "Admin") {%>
        <li><a href="/view/employees">Remove a Employee</a></li>
      <% } %>
    </ul>
  </body>
</html>
